# CleavAI

Â© 2025 JForCell Corporation. All Rights Reserved.

- Synthetic negatives: totally random but P1=R
- Hard negatives: biologically realistic motifs, but Furin did not cleave

In [17]:
import pandas as pd
from sqlalchemy import create_engine
import random

In [18]:
engine = create_engine(f"mysql+pymysql://jforcell:jforcell@localhost/merops")

In [19]:
furin_mernums = (
    'MER0000375', 'MER0000381', 'MER0000377', 'MER0000383', 'MER0002984', 'MER0002578', 'MER0000964', 'MER0004695'
)

query = f"""
SELECT s.uniprot_acc, s.sequence
FROM substrate s
WHERE LOWER(s.uniprot_acc) NOT IN (
    SELECT LOWER(c.uniprot_acc)
    FROM cleavage c
    WHERE c.mernum IN {furin_mernums}
)
AND CHAR_LENGTH(s.sequence) > 50;
"""

df_nonfurin = pd.read_sql(query, engine)

In [20]:
df_nonfurin.head()

  uniprot_acc                                           sequence
0  A0A023PXC2  MLPLCLTFLSFFLSLGGSFKAVMTKEEADGTTEAAACLFWIFNWTV...
1  A0A023PXD5  MMTAAKRLGLYSALRACSATVFRSNLHPKVTVATMFCSVGTIPDVA...
2  A0A023PXI4  MYWPCLVITPFTVGESFCLLLSLGIPLDTGILNIWSLSSISRHLEK...
3  A0A023PYC6  MVSSFFMASTLLAISSCFNSSISRAKGYNDSLESESLEFDVVDVVD...
4  A0A023PYD9  MCGVVVVIVALVPADPLLPAFACGCSCDAPVFIPFFNISSSIILIC...

In [21]:
def extract_windows(seq, window=8):
    return [
        seq[i:i+window]
        for i in range(len(seq) - window + 1)
        if seq[i+3] == 'R' and 'X' not in seq[i:i+window]
    ]

all_neg = set()
for _, row in df_nonfurin.iterrows():
    all_neg.update(extract_windows(row["sequence"]))

df_hard = pd.DataFrame({"cleavage_window": list(all_neg)})
df_hard.head()

  cleavage_window
0        GKPRYAET
1        DMGRSFLQ
2        VNKRKSKY
3        LKTRTRRR
4        APVRLPLE

## Add random

In [ ]:
AMINO_ACIDS = "ACDEFGHIKLMNPQRSTVWY"
def random_peptide(window=8):
    while True:
        pep = ''.join(random.choices(AMINO_ACIDS, k=window))
        if pep[3] == 'R':
            return pep

num_random = len(df_hard)
synthetic_peptides = [random_peptide() for _ in range(num_random)]

df_synth = pd.DataFrame({"cleavage_window": synthetic_peptides})
df_synth["label"] = 0
df_synth["source"] = "random"